<!-- css goes here -->
<link rel="stylesheet" href="css/redirectToPaper.css">
<%- include('../includes/head.ejs')%>
</head>
<main>
    <div class="redirect-container">
        <h1 class="redirect-title">Your purchase was successful</h1>
        <p class="redirect-text">Thank you so much for your purchase we will get back to you in a few.</p>
        <small class="redirect-message">You will be redirected in <span class="highlight-message" id="counter">10</span> seconds</small>
        <button class="redirect-button" id="redirect-button">Click to redirect</button>
    </div>
</main>
<script src="/js/redirectToPaper.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</body>
</html>