<section class="profile">
    <div class="profile-container">
        <div class="profile-header">
            <h3>J.T.W</h3>
            <ion-icon name="compass-outline"></ion-icon>
        </div>
        <div class="profile-image">
            <img src="/images/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" alt=""
                style="width: 150px; height: 150px; border-radius: 50%">
            <h4><%= user.username %></h4>
        </div>
        <div class="profile-nav__container">
            <ul class="profile-nav__list">
                <a href="/">
                    <li class="profile-nav__list-item">
                        <p>Home</p>
                        <span>
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                    </li>
                </a>
                <a href="/about">
                    <li class="profile-nav__list-item">
                        <p>About Me</p>
                        <span>
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </span>
                    </li>
                </a>
                <a href="/sales">
                    <li class="profile-nav__list-item">
                        <p>Write My Paper</p>
                        <span>
                            <ion-icon name="document-text-outline"></ion-icon>
                        </span>
                    </li>
                </a>
                <a href="/faq">
                    <li class="profile-nav__list-item">
                        <p>F.A.Q</p>
                        <span>
                            <ion-icon name="help-circle-outline"></ion-icon>
                        </span>
                    </li>
                </a>
                <a href="/samples">
                    <li class="profile-nav__list-item">
                        <p>Samples</p>
                        <span>
                            <ion-icon name="documents-outline"></ion-icon>
                        </span>
                    </li>
                </a>
                <a href="/contacts">
                    <li class="profile-nav__list-item last">
                        <p>Contact Me</p>
                        <span>
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="profile-advert">

        </div>
    </div>
</section>