<footer>
    <div class="footer">
        <div class="footer-section">
            <div class="logo">
                <img src="/images/lorem-lorem.svg" alt="logo">
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section__header">
                <h4>
                    Pages
                </h4>
            </div>
            <div class="footer-section__body">
                <ul class="footer-list">
                    <a href="/"><li>Home</li></a>
                    <a href="/about"><li>About me</li></a>
                    <a href="/sales"><li>Write my paper</li></a>
                    <a href="/samples"><li>Samples</li></a>
                    <a href="/faq/null"><li>FAQ</li></a>
                    <a href="/contacts"><li>Contacts</li></a>
                    <a href="/login"><li>Login</li></a>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section__header">
                <h4>
                    Legal
                </h4>
            </div>
            <div class="footer-section__body">
                <ul class="footer-list">
                    <a href="/terms"><li>Terms of Service</li></a>
                    <a href="/guarantee"><li>Money back gurantee</li></a>
                    <a href="/policy"><li>Privacy policy</li></a>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section__header">
                <h4>
                    Connect
                </h4>
            </div>
            <div class="footer-section__body">
                <ul class="connect-list">
                    <li>
                        <ion-icon name="logo-twitter"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-instagram"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-facebook"></ion-icon>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section__header">
                <h4>
                    Get our news letter
                </h4>
            </div>
            <div class="footer-section__body">
                <div class="news-letter">
                    <input type="email" name="newsletterEmail" placeholder="email">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</footer>