<div class="wrapper">
    <section class="testi">
      <div class="client">
        <div class="say">
          <div class="border"></div>
          <h3>
            &#x201C; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quis cumque recusandae adipisci. &#x201D;
          </h3>
        </div>
        <div class="profile">
          <div class="img">
            <img
              src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <h3>Milton Levis</h3>
            <small>Copywriter at Chips</small>
          </div>
        </div>
      </div>

      <div class="client">
        <div class="say">
          <div class="border"></div>
          <h3>
            &#x201C; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quis cumque recusandae adipisci. &#x201D;
          </h3>
        </div>
        <div class="profile">
          <div class="img">
            <img
              src="https://images.unsplash.com/photo-1506085452766-c330853bea50?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=3e378252a934e660f231666b51bd269a"
              alt=""
            />
          </div>
          <div class="info">
            <h3>Jhon Doe Levis</h3>
            <small>Copywriter at Chips</small>
          </div>
        </div>
      </div>

      <div class="client">
        <div class="say">
          <div class="border"></div>
          <h3>
            &#x201C; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quis cumque recusandae adipisci. &#x201D;
          </h3>
        </div>
        <div class="profile">
          <div class="img">
            <img
              src="https://randomuser.me/api/portraits/women/17.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <h3>Sarah Danser</h3>
            <small>Copywriter at Chips</small>
          </div>
        </div>
      </div>
    </section>
  </div>