<div class="wrapper">
  <section class="testi">
    <div class="client">
      <div class="say">
        <div class="border"></div>
        <h3>
          &#x201C; Hey Jerry, I just wanted to let you know that I have checked the assignment grading transcript and I
          got grade A from the first assignment to the last, except for the mid-term essay which I got A-. I am happy to
          have met you as you simplify my life.
          &#x201D;
        </h3>
      </div>
      <div class="profile">
        <div class="img">
          <img src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="" />
        </div>
        <div class="info">
          <h3>Katie, 27 </h3>
          <span>Master’s student</span>
        </div>
      </div>
    </div>
    <div class="client">
      <div class="say">
        <div class="border"></div>
        <h3>
          &#x201C; Well, mine I was happy most about how much you have the idea and put it very clearly on paper in
          words and help make it so simple for ESL students. &#x201D;
        </h3>
      </div>
      <div class="profile">
        <div class="img">
          <img src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="" />
        </div>
        <div class="info">
          <h3>Mustafi, 32</h3>
          <span>Master’s student</span>
        </div>
      </div>
    </div>
    <div class="client">
      <div class="say">
        <div class="border"></div>
        <h3>
          &#x201C;
          I don’t usually write reviews easily, only to say thanks for helping make my life easier, because I am a
          lead teacher in elementary school, and I took an extra job from 3pm, when my teaching class ends. Most of my
          work would have been so hard to complete, so, thanks. &#x201D;
        </h3>
      </div>
      <div class="profile">
        <div class="img">
          <img src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="" />
        </div>
        <div class="info">
          <h3>Olga, 28-</h3>
          <span>distance learning student.</span>
        </div>
      </div>
    </div>
  </section>
</div>