<div class="wrapper">
    <section class="testi">
      <% for (let i = 0; i < testimonials.length; i++){ %>
        <div class="client">
          <div class="say">
            <div class="border"></div>
            <h3>
              &#x201C; <%= testimonials[i].text %> &#x201D;
            </h3>
          </div>
          <div class="profile">
            <div class="img">
              <img
                src="/images/roman-stetskov-lb_RMr9gLXQ-unsplash.jpg"
                alt=""
              />
            </div>
            <div class="info">
             
            </div>
          </div>
        </div>
      <% } %>
    </section>
  </div>