.esl-container {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.esl-container__header {
    height: 87vh;
    width: 100%;
    background: url("../images/freestocks-jUSu0686zDM-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center center;
}

.long-content {
    max-width: 768px;
    margin: 2rem auto;
    padding: .7rem;
    color: #4e4e4e;
}

.esl-content__title {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    margin: 2rem 0;
}

.esl-content__sub-title {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #747474;
    margin: 2rem 0;
}

.esl-content__body {
    font-size: 1.2rem;
    margin: 2rem auto;
}

.esl-content__list {
    margin: .5rem 0;
    width: 100%;
}

.esl-content__list li {
    position: relative;
    padding-left: 2rem;
    margin: .5rem 0;
}

.esl-content__list li::before {
    content: url("../images/checkmark-circle-outline.svg");
    position: absolute;
    left: 0;
    top: 1.5px;
}

.esl-content__body-text {
    margin: 2rem auto;
    width: 100%;
}

.share-links {
    display: flex;
    justify-content: left;
}

.share-links .shareIcons {
    font-size: 2rem;
    margin-right: 2rem;
    transition: color .7s;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #00acee;
}

.linkedin:hover {
    color: #0e76a8;
}

.reddit:hover {
    color: #ff4301;
}

.subscribe-email .entry__field,
.form__label-row .form__entry.entry_block,
.sib-input.sib-form-block
,#sib-form
.width100 {
    width: 100% !important;
}

#sib-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#sib-form input {
    width: 80% !important;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    color: #313131;
    outline: none !important;
    border: none !important;
}

.subscribe-email input:focus,
.subscribe-email input:active {
    outline: none;
}