* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.chat-container {
    border: 1px solid #9c9c9c;
    height: 94%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    align-self: center;
}

@media screen and (max-width:768px) {
    .chat-container {
        border-radius: 15px;
        width: 200vw;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        border: 1px solid transparent;
    }
}

.chat-users__container {
    width: 100%;
}

.chat-users__header {
    height: 7%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    border-bottom: 1px solid #9c9c9c;
}

.chat-users__header span {
    cursor: pointer;
}

.chat-users__body {
    height: 93%;
    overflow: hidden;
}

.users-list {
    height: 100%;
    overflow: auto;
}

.users-list li {
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.users_list__item h4 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.users_list__item span {
    font-size: .8rem;
    color: #9c9c9c;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.users-list li img {
    width: 40px;
    border-radius: 100%;
    margin-right: 1rem;
}

.chat-messages__container {
    background-color: #fffdfa;
    border-left: 1px solid #9c9c9c;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 86% 7%;
}

@media screen and (max-width:768px) {
    .chat-messages__container {
        border-left: none;
    }
}

.chat-messages__header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 .5rem;
    border-bottom: 1px solid #9c9c9c;
}

.chat-messages__header img {
    width: 40px;
    margin-right: 1rem;
    border-radius: 100%;
}

@media screen and (max-width: 400px) {
    .chat-messages__header img {
        width: 30px;
        margin-right: 1rem;
        border-radius: 100%;
    }
}

.user-messages__text h4 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.user-messages__text span {
    font-size: .8rem;
    color: #9c9c9c;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.chat-messages__body {
    font-family: 'Roboto', 'sans-serif';
    height: 100%;
    overflow: hidden;
}

.messages-list {
    height: 100%;
    overflow: auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.message-item {
    border: .5px solid #dbdbdb;
    padding: .2rem;
    width: fit-content;
    max-width: 70%;
    border-radius: 7px;
    margin: .2rem 0;
}

.message-item p {
    font-size: .9rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.message-home p {
    align-self: flex-end;
}

small.read-receipt {
    font-size: .7rem;
    color: #9c9c9c;
    justify-content: baseline;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: inherit;
}

.read-receipt.message-home {
    align-self: flex-end;
}

.read-receipt.message-away {
    align-self: flex-start;
}

.message-away {
    align-self: flex-start;
    word-break: break-all;
}

.message-home {
    align-self: flex-end;
    background-color: #efefef;
    word-break: break-all;
}

.chat-messages__footer {
    height: 100%;
    width: 100%;
    position: relative;
}

.input-message {
    font-family: Roboto;
    border: .7px solid #9c9c9c;
    border-radius: 25px;
    min-height: fit-content;
    height: max-content;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    bottom: .4rem;
    left: 2.5rem;
    right: 2.5rem;
    transition: all .2s ease-in;
}

.has-attachment {
    border-radius: 3px 3px 7px 7px;
}

.message-item.has-attachment {
    padding: .2rem;
    border-radius: 3px 3px 7px 7px;
}

.input-message__container {
    min-height: fit-content;
    height: max-content;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.emoji-btn {
    margin-bottom: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

.submit-btn {
    margin-bottom: .2rem;
    margin-right: .5rem;
    margin-left: .5rem;
    border-radius: 100%;
    padding: .2rem;
    height: 100%;
}

.submit-btn button {
    border: none;
    background-color: transparent;
    outline: none;
    color: #0095F6;
    height: 100%;
    cursor: pointer;
    width: 20px;
}

.chattingBox {
    width: calc(100% - 5rem);
    min-height: 100%;
    left: -1px;
    font-size: 1rem;
    outline: none;
    padding: .4rem;
}

.editableDiv[contentEditable="true"]:empty:before {
    content: attr(placeholder);
    color: #9c9c9c;
}

.online-status.online {
    color: green;
}

.online-status.offline {
    color: #9c9c9c;
}

.attachment {
    position: relative;
    margin-bottom: .2rem;
}

.attachment-container {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    padding: .2rem;
    margin: .2rem;
    border-left: 2px #0095F6 solid;
    border-radius: 3px;
    user-select: none;
    pointer-events: none;
    width: 99%;
    align-self: center;
}

.close-attachment {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: #ffffff;
    padding: .2rem;
    border-radius: 50%;
    color: #8b8b8b;
    cursor: pointer;
}

.close-attachment ion-icon{
    user-select: none;
    pointer-events: none;
}

.attachment-name {
    color: #0095F6;
    font-size: .8rem;
    margin: 0.2rem 0;
    font-weight: 700;
}

.attachment-title {
    margin: 0.1rem 0;
    color: #8b8b8b;
}