* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.users {
    height: 93%;
    width: 95%;
    margin: auto;
}

.users-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    padding-bottom: 0;
    align-items: center;
}

.users-header h4 {
    font-size: 1.4rem;
    color: #313131;
}

.users-list {
    height: 95%;
    overflow: auto;
}

.users-list li {
    border: 1px solid #9c9c9c;
    padding: .5rem;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: .8rem;
    margin: .7rem 0;
}

.user-header {
    margin: 0 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #313131;
}

@media screen and (max-width: 768px) {
    .user-header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.user-header span {
    font-size: 1.2rem;
    position: relative;
    margin-left: 1.5rem;
}

.user-header span:first-child,
.user-header span:last-child {
    margin-left: 0;
}

.user-header span ion-icon {
    position: absolute;
    left: -1.5rem;
    bottom: 2px;
}

.user-header span:last-child {
    text-align: right;
    color: green;
}

.user-footer {
    margin: .5rem 0 0;
}

.user-footer button {
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: .1rem;
}

.user-footer span:first-child {
    text-align: left;
    color: orangered;
    cursor: pointer;
    font-size: 1rem;
}