.guarantee-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 1.2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.guarantee-container__header {
    height: 60vh;
    width: 100%;
    background: url("../images/vitaly-taranov-OCrPJce6GPk-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guarantee-container__header {
    font-size: 1.2rem;
}

.guarantee-container__text {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.guarantee-container__header h1 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.long-content {
    max-width: 768px;
    margin: 2rem auto;
    padding: .7rem;
    color: #747474;
}

.guarantee-content__list {
    margin: 2rem 0;
    color: #747474;
}

.guarantee-content__title {
    font-family: 'Poppins', sans-serif;
    color: #313131;
}

.guarantee-content__list li {
    margin: .7rem 0;
    position: relative;
    padding-left: 2rem;
}

.guarantee-content__list li::before {
    content: url("../images/checkmark-circle-outline.svg");
    position: absolute;
    left: 0;
    top: 1.5px;
}