.policy-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 1.2rem;
}

@font-face {
    font-family: AirbnbCerealBold;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AirbnbCerealBold.ttf');
}

.policy-container__header {
    height: 60vh;
    width: 100%;
    background: url("../images/moja-msanii-vO9-gal54go-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.policy-container__text {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.policy-container__header h1 {
    font-family: AirbnbCerealBold;
    color: #ffffff;
}

.long-content {
    max-width: 768px;
    margin: 2rem auto;
    padding: .7rem;
    color: #747474;
}

.policy-content__title {
    font-family: AirbnbCerealBold;
    color: #313131;
}