.projects-container {
    border-radius: 25px;
}

.projects {
    height: 93%;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    color: #313131;
    align-items: center;
}

.projects-header h4 {
    font-size: 1.5rem;
}

.projects-list {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.projects-list li {
    margin: .2rem auto;
    padding: .5rem;
    border-radius: 7px;
    padding: .5rem;
    width: 98%;
    border: 1px solid #DDDDDD;
}

.projects-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-information {
    width: 95%;
}

.projects-information__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-information__header h4 {
    font-size: 1.2rem;
    color: #313131;
}

.projects-information__header span {
    font-family: Roboto;
    font-size: .8rem;
}

.projects-information__body {
    display: flex;
    justify-content: space-between;
}

.projects-information__body span {
    font-family: Roboto;
    font-size: .8rem;
}

.projects-information__body span:first-child {
    color: #6901e1;
}

/* the project attachment buttton */
.projects-menu__list li button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: start;
}

.projects-toggle {
    cursor: pointer;
}

/* search */
.projects-search {
    padding: .5rem;
}

.projects-search input{
    padding: .5rem;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    width: 100%;
    max-width: 540px;
}