<link rel="stylesheet" href="css/dashboard.css">
<%- include('../includes/head.ejs')%>

</head>
    <main>
        <%-include('../includes/dashnav.ejs')%>
        <section class="main">
            <div id="main-container__home" class="main-container">
                <div class="main-header">
                    <div class="main-header__search">
                        <ion-icon name="search-outline"></ion-icon>
                        <input type="text" name="search" id="searchProject">
                    </div>
                    <div class="main-header__profile">
                        <p><%= user.username %></p>
                        <img src="images/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" alt=""
                            style="width: 35px; height: 35px; border-radius: 50%">
                    </div>
                </div>
                <div class="home-container">
                    
                </div>
            </div>
        </section>
        <%- include('../includes/dashprofile.ejs')%>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</body>

</html>