<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/attribution.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="policy-container">
        <div class="policy-container__header">
            <h1>Attribution</h1>
        </div>
        <div class="policy-content">
            <div class="long-content">
                <div class="policy-content__body">
                    <div class="policy-content__title">
                        <h1>Home Page</h1>
                    </div>
                    <br>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/element5-digital-jCIMcOpFHig-unsplash (1).jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@element5digital?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Element5
                                    Digital</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/finn-hackshaw-rSOdaQMmzd8-unsplash.jpg " alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@finnhackshaw?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Finn
                                    Hackshaw</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <div class="policy-content__title">
                        <h1>About Page</h1>
                    </div>
                    <br>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/parker-gibbons-kfwPJieZVwI-unsplash.jpg"
                            alt="parkergibbons jpg">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@parkergibbons?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Parker
                                    Gibbons</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <div class="policy-content__title">
                        <h1>Testimonials</h1>
                    </div>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/roman-stetskov-lb_RMr9gLXQ-unsplash.jpg"
                            alt="roman-stetskov">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@stet?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Roman
                                    Stetskov</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/s/photos/man-face-black-and-white?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <div class="policy-content__title">
                        <h1>Books page</h1>
                    </div>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/freestocks-jUSu0686zDM-unsplash (1).jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@freestocks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">freestocks</a>
                                on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <div class="attriImg" policy-content__title>
                        <h1>Dashboard Page</h1>
                    </div>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/laura-chouette-N_FWDfZc_sA-unsplash.jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a  style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@laurachouette?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Laura
                                    Chouette</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    
                    <div class="attriCard">
                        <img class="attriImg" src="/images/heidi-fin-mHC0qJ7l-ls-unsplash.jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@heidifin?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Heidi
                                    Fin</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>

                    <div class="attriCard">
                        <img class="attriImg" src="/images/chris-lee-70l1tDAI6rM-unsplash.jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@chrisleeiam?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Chris
                                    Lee</a> on <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@chrisleeiam?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="attriImg" policy-content__title>
                        <h1>Guarantee Page</h1>
                    </div>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/vitaly-taranov-OCrPJce6GPk-unsplash.jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@gooner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Vitaly
                                    Taranov</a> on <a
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="attriImg" policy-content__title>
                        <h1> Privacy Policy Page</h1>
                    </div>
                    <div class="attriCard">
                        <img class="attriImg" src="/images/moja-msanii-vO9-gal54go-unsplash.jpg" alt="">
                        <div class="attriContent">
                            <span>Photo by <a style=" color: hsl(240, 93%, 48%);"
                                    href="https://unsplash.com/@gooner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Vitaly
                                    Taranov</a> on <a
                                    href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="attriCard">
                        <div class="attriImg" policy-content__title>
                            <h2>Dashboard Page</h2>
                        </div>
                        <P>Customized the Wave.svg on my Dashboard Page </P>
                        <a style=" color: hsl(240, 93%, 48%);"
                            href="https://www.svgbackgrounds.com">SVGBackgrounds.com</a>
                        <br>
                    </div>
                    <div class="attriCard">
                        <div class="attriImg" policy-content__title>
                            <h2>Home Page & Guarantee Page </h2>
                        </div>
                        <P>Customized the checkmark-circle-outline.svg on my Home Page & Guarantee Page </P>
                        <a style=" color: hsl(240, 93%, 48%);"
                            href="https://www.svgbackgrounds.com">SVGBackgrounds.com</a>
                        <br>
                    </div>
                    <div class="attriCard">
                        <div class="attriImg" policy-content__title>
                            <h2>Sample Page & Attribute Page</h2>
                        </div>
                        <P>Customized the Sun Tornado.svg on my Sample Page and Attribute page </P>
                        <a style=" color: hsl(240, 93%, 48%);"
                            href="https://www.svgbackgrounds.com">SVGBackgrounds.com</a>
                        <br>
                    </div>
                    <div class="attriCard">
                        <div class="attriImg" policy-content__title>
                            <h2>FAQ Page</h2>
                        </div>
                        <P>Customized the Confetti-Doodles.svg on my FAQ Page </P>
                        <a style=" color: hsl(240, 93%, 48%);"
                            href="https://www.svgbackgrounds.com">SVGBackgrounds.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>