<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/books.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="esl-container">
        <div class="esl-container__header"></div>
        <div class="esl-content">
            <div class="long-content">
                <div class="esl-content__title">
                    <h1>Who said writing an assignment has to be a hard and frustrating experience?</h1>
                </div>
                <div class="esl-content__body">
                    <p>Whether you are: </p>
                    <ul class="esl-content__list">
                        <li>New to writing assignments.</li>
                        <li>A second language learner.</li>
                        <li>Working on jobs and have little time for schoolwork.</li>
                        <li>Stuck in writing your assignments.</li>
                    </ul>
                    <div class="esl-content__body-text">
                        <p>I’ve spent the last 8 years helping students like you research, write and format their school
                            assignments, to get A-grades.
                        </p>
                        <br>
                        <p>
                            I’ve interacted with as many, not including my own problems,
                            having been a student, to know the problems of managing school life.
                        </p>
                        <br>
                        <p>Along the way, I discovered something very important: </p>
                    </div>
                    <div class="esl-content__sub-title">
                        <h1>Spending a lot of time on unimportant school tasks doesn’t make school meaningful.</h1>
                    </div>
                    <div class="esl-content__body-text">
                        <p>Spending 10 hours in the library reading unimportant material, researching for an assignment
                            doesn’t mean you are doing the important.
                        </p>
                        <br>
                        <p>
                            It only means you have wasted time that could be put in better use such as; family, career
                            development, job hunting and earning money, entertainment and even time for yourself
                        </p>
                        <br>
                        <p>It means you have prioritized the unimportant over the important things in life.</p>
                        <br>
                        <p>The guide you are about to download has strategies that took years to learn, implement and
                            perfect. I’ve come to conclusion that, to the best of my knowledge, nobody else has the
                            material I am about to share with you. </p>
                        <br>
                        <p>I’ve further spent quite some time refining it, after partnering with qualitative experts,
                            and I have put it in a form where you can:</p>
                    </div>
                    <ul class="esl-content__list">
                        <li>Quickly grasp the content- <i>don’t like reading? Find You Tube videos in there</i>.</li>
                        <li>Act on the information- <i>not general advice but step by step action plans to take (have a
                                piece of paper and a pen for that)</i></li>
                    </ul>
                </div>
                <div class="esl-content__sub-title">
                    <h1 style="text-align:center; color: #333333;">And it’s all yours for free!</h1>
                </div>
                <div class="esl-content__sub-title">
                    <h1>I’ll show you how I discovered how to write assignments FAST! and used the same principles to
                        complete my <span class="highlight">60-page final year university project in 3 days, working 6
                            hours max each day.</span>
                    </h1>
                </div>
                <div class="esl-content__body">
                    <p>I only ask 2 things of you</p>
                    <ul class="esl-content__list">
                        <li>
                            <strong>
                                First, carefully go through the material:
                            </strong>
                            My team and I use those exact
                            strategies to write A-grade assignments. Grasp the content and implement it, otherwise, it
                            will be useless if you just download it.
                        </li>
                        <li>
                            <strong>
                                Second, share the guide:
                            </strong>
                            Share it with your classmates, colleagues, relatives, and everyone you know needs it.
                        </li>
                    </ul>
                    <br>
                    <p>Since I’m sure everyone you send this guide will be happy because you’ve contributed to make
                        their life as a student easier, I’ve made it easier to share on your social platforms.
                    </p>
                    <br>
                    <p>
                        I have also crafted a message, so that all you need to do is click share;
                    </p>
                </div>
                <div class="share-links">
                    <!-- Sharingbutton Facebook -->
                    <a class="resp-sharing-button__link"
                        href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com"
                        target="_blank" rel="noopener" aria-label="Facebook">
                        <div class="facebook shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </div>
                        </div>
                    </a>

                    <!-- Sharingbutton Twitter -->
                    <a class="resp-sharing-button__link"
                        href="https://twitter.com/intent/tweet/?text=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;url=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com"
                        target="_blank" rel="noopener" aria-label="Twitter">
                        <div class="twitter shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </div>
                        </div>
                    </a>

                    <!-- Sharingbutton LinkedIn -->
                    <a class="resp-sharing-button__link"
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com&amp;title=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;summary=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;source=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com"
                        target="_blank" rel="noopener" aria-label="LinkedIn">
                        <div class="linkedin shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </div>
                        </div>
                    </a>

                    <!-- Sharingbutton Reddit -->
                    <a class="resp-sharing-button__link"
                        href="https://reddit.com/submit/?url=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com&amp;resubmit=true&amp;title=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective"
                        target="_blank" rel="noopener" aria-label="Reddit">
                        <div class="reddit shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-reddit"></ion-icon>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="sib-form">
  <div id="sib-form-container" class="sib-form-container">
    <div id="error-message" class="sib-form-message-panel">
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon">
          <path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z"
          />
        </svg>
        <span class="sib-form-message-panel__inner-text">Something went wrong. Please try again.</span>
      </div>
    </div>
    <div id="success-message" class="sib-form-message-panel">
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon">
          <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"
          />
        </svg>
        <span class="sib-form-message-panel__inner-text">The book has been sent to your email account.</span>
      </div>
    </div>
    <div id="sib-container" class="sib-container--medium sib-container--vertical" style="background: #e53935;background: -webkit-linear-gradient(to right, #e35d5b, #e53935);background: linear-gradient(to right, #e35d5b, #e53935); border-radius: 10px;">
      <form  id="sib-form" method="POST" action="https://42195a84.sibforms.com/serve/MUIEAEzrYpxJGN13BNIs9JpUjFq57SRpt0QgivxTeyYR9ixOO5G2Bdop0ej_jT_3wwMjAcU20QeAQ4WuVwhTmWNnh2b-yFEycbhJbIXcorkrU5Tjz9CBlk-Vg1J6CLx_3o_yK6QnArtLznx5xEpkaS0P2-XIeh7Pf_dQni0GzuFmS9NpP3TbyeluVDyejrPmoCnZE52PVK6cYfAc"
        data-type="subscription">
        <div >
          <div class="sib-form-block">
            <p>Where should I send the guide?</p>
          </div>
        </div>
        <div class="width100">
          <div class="sib-input sib-form-block">
            <div class="form__entry entry_block">
              <div class="form__label-row ">
                <div class="entry__field">
                    <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Email address" data-required="true" required style="width: 100%;"/>
                </div>
              </div>
              <label class="entry__error entry__error--primary">
              </label>
            </div>
          </div>
        </div>
        <div >
          <div class="sib-form-block">
           <div class="footer-section__body">
              <button class="sib-form-block__button sib-form-block__button-with-loader btn btn-happy" form="sib-form"
              type="submit">
              <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
                />
              </svg>
              Get guidebook
            </button>
           </div>
          </div>
        </div>
        <input type="text" name="email_address_check" value="" class="input--hidden">
        <input type="hidden" name="locale" value="en">
      </form>
    </div>
  </div>
</div>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>

    