<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/books.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="esl-container">
        <div class="esl-container__header"></div>
        <div class="esl-content">
            <div class="long-content">
                <div class="esl-content__title">
                    <h1>Who said writing an assignment has to be a hard and frustrating experience?</h1>
                </div>
                <div class="esl-content__body">
                    <p>Whether you are: </p>
                    <ul class="esl-content__list">
                        <li>New to writing assignments.</li>
                        <li>A second language learner.</li>
                        <li>Working on jobs and have little time for schoolwork.</li>
                        <li>Stuck in writing your assignments.</li>
                    </ul>
                    <div class="esl-content__body-text">
                        <p>I’ve spent the last 8 years helping students like you research, write and format their school
                            assignments, to get A-grades.
                        </p>
                        <br>
                        <p>
                            I’ve interacted with as many, not including my own problems,
                            having been a student, to know the problems of managing school life.
                        </p>
                        <br>
                        <p>Along the way, I discovered something very important: </p>
                    </div>
                    <div class="esl-content__sub-title">
                        <h1>Spending a lot of time on unimportant school tasks doesn’t make school meaningful.</h1>
                    </div>
                    <div class="esl-content__body-text">
                        <p>Spending 10 hours in the library reading unimportant material, researching for an assignment
                            doesn’t mean you are doing the important.
                        </p>
                        <br>
                        <p>
                            It only means you have wasted time that could be put in better use such as; family, career
                            development, job hunting and earning money, entertainment and even time for yourself
                        </p>
                        <br>
                        <p>It means you have prioritized the unimportant over the important things in life.</p>
                        <br>
                        <p>The guide you are about to download has strategies that took years to learn, implement and
                            perfect. I’ve come to conclusion that, to the best of my knowledge, nobody else has the
                            material I am about to share with you. </p>
                        <br>
                        <p>I’ve further spent quite some time refining it, after partnering with qualitative experts,
                            and I have put it in a form where you can:</p>
                    </div>
                    <ul class="esl-content__list">
                        <li>Quickly grasp the content- <i>don’t like reading? Find You Tube videos in there</i>.</li>
                        <li>Act on the information- <i>not general advice but step by step action plans to take (have a
                                piece of paper and a pen for that)</i></li>
                    </ul>
                </div>
                <div class="esl-content__sub-title">
                    <h1 style="text-align:center; color: #333333;">And it’s all yours for free!</h1>
                </div>
                <div class="esl-content__sub-title">
                    <h1>I’ll show you how I discovered how to write assignments FAST! and used the same principles to
                        complete my <span class="highlight">60-page final year university project in 3 days, working 6
                            hours max each day.</span>
                    </h1>
                </div>
                <div class="esl-content__body">
                    <p>I only ask 2 things of you</p>
                    <ul class="esl-content__list">
                        <li>
                            <strong>
                                First, carefully go through the material:
                            </strong>
                            My team and I use those exact
                            strategies to write A-grade assignments. Grasp the content and implement it, otherwise, it
                            will be useless if you just download it.
                        </li>
                        <li>
                            <strong>
                                Second, share the guide:
                            </strong>
                            Share it with your classmates, colleagues, relatives, and everyone you know needs it.
                        </li>
                    </ul>
                    <br>
                    <p>Since I’m sure everyone you send this guide will be happy because you’ve contributed to make
                        their life as a student easier, I’ve made it easier to share on your social platforms.
                    </p>
                    <br>
                    <p>
                        I have also crafted a message, so that all you need to do is click share;
                    </p>
                </div>
                <div class="share-links">
                    <!-- Sharingbutton Facebook -->
                    <a class="resp-sharing-button__link"
                        href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.jerrythewriter.com"
                        target="_blank" rel="noopener" aria-label="Facebook">
                        <div class="facebook shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </div>
                        </div>
                    </a>

                    <!-- Sharingbutton Twitter -->
                    <a class="resp-sharing-button__link"
                        href="https://twitter.com/intent/tweet/?text=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;url=https%3A%2F%2Fwww.jerrythewriter.com"
                        target="_blank" rel="noopener" aria-label="Twitter">
                        <div class="twitter shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </div>
                        </div>
                    </a>

                    <!-- Sharingbutton LinkedIn -->
                    <a class="resp-sharing-button__link"
                        href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.jerrythewriter.com&amp;title=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;summary=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;source=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com"
                        target="_blank" rel="noopener" aria-label="LinkedIn">
                        <div class="linkedin shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </div>
                        </div>
                    </a>

                    <!-- Sharingbutton Reddit -->
                    <a class="resp-sharing-button__link"
                        href="https://reddit.com/submit/?url=https%3A%2F%2Fwww.jerrythewriter.com&amp;resubmit=true&amp;title=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective"
                        target="_blank" rel="noopener" aria-label="Reddit">
                        <div class="reddit shareIcons">
                            <div aria-hidden="true"
                                class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <ion-icon name="logo-reddit"></ion-icon>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="subscribe-email">
                    <p>Where should I send the guide?</p>
                    <input type="text" placeholder=" email">
                    <button class="btn btn-happy">Get guidebook</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>