<link rel="stylesheet" href="css/faq.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="faq-header">
        <div class="faq-header__text">
            <h1>F.A.Q</h1>
            <div class="faq-search">
                <input type="text" name="search" placeholder="search">
                <a href="">
                    <ion-icon name="search"></ion-icon>
                </a>
            </div>
        </div>
    </div>
    </header>
    <main>
        <div class="main-faq__nav">
            <ul class="faq-nav__list">
                <li>
                    <div class="faq-nav__list-item">
                        <h4>
                            General Questions
                        </h4>
                        <p>General questions regarding J.T.T</p>
                    </div>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </li>
                <li>
                    <div class="faq-nav__list-item">
                        <h4>
                            Ordering Information
                        </h4>
                        <p>Get to know how to order, when and when to get feedback</p>
                    </div>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </li>
                <li>
                    <div class="faq-nav__list-item">
                        <h4>
                            Pricing and Payment
                        </h4>
                        <p>How much do you pay for the services and how you get to pay.</p>
                    </div>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </li>
                <li>
                    <div class="faq-nav__list-item">
                        <h4>
                            Operations and Quality Assurance
                        </h4>
                        <p>How do I make sure you ge toyur paper in time and it's a quality paper</p>
                    </div>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </li>
            </ul>
        </div>
        <div class="faq-qanda">
            <ul class="faq-qanda__list">
                <li>
                    <div class="faq-qanda__list-item">
                        <div class="qanda-list__item-title">
                            <h4 class="highlight">What is Jerry the Writer website?</h4>
                            <ion-icon name="close"></ion-icon>
                        </div>
                        <p>This is a website where I help make student life easier by; providing guides to help; new
                            students write quality assignments, busy students complete assignments fast and for those
                            unable to write assignments for whatever reason, I work directly with them by writing
                            quality papers for them. I will also feature a blog and partner with some experts to share
                            advice on living an enjoyable school life.</p>
                    </div>
                </li>
                <li>
                    <div class="faq-qanda__list-item">
                        <div class="qanda-list__item-title">
                            <h4 class="highlight">What is Jerry the Writer website?</h4>
                            <ion-icon name="close"></ion-icon>
                        </div>
                        <p>This is a website where I help make student life easier by; providing guides to help; new
                            students write quality assignments, busy students complete assignments fast and for those
                            unable to write assignments for whatever reason, I work directly with them by writing
                            quality papers for them. I will also feature a blog and partner with some experts to share
                            advice on living an enjoyable school life.</p>
                    </div>
                </li>
                <li>
                    <div class="faq-qanda__list-item">
                        <div class="qanda-list__item-title">
                            <h4 class="highlight">Why Jerry the Writer?</h4>
                            <ion-icon name="close"></ion-icon>
                        </div>
                        <p>I have worked directly with students for over 7 years, helping them complete their
                            assignments. My initial years were difficult, as I had to learn the ins and outs of writing
                            quality assignments. Years later, I am able to complete just about any assignment (apart
                            from technical papers, example.; I.T assignments). My rates are cheaper than most services,
                            and I am not entirely after the money. I hope to make great friends along the way. Check the
                            site and get anything that will be useful to make your life easier, more fulfilling and more
                            liberating, as you owe to yourself.</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    <script src="js/faq.js"></script>
    <%- include('../includes/end.ejs')%>