<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/guarantee.css">
</head>

<body>
    
    <%- include('../includes/navigation.ejs')%>
    <div class="guarantee-container">
        <div class="guarantee-container__header">
            <h1>Money back guarantee</h1>
        </div>
        <div class="guarantee-content">
            <div class="long-content">
                <div class="guarantee-content__body">
                    <div class="guarantee-content__title">
                        <h1>At jerrythewriter.com, I will ensure that you have received, to the full extent, the benefit
                            you paid for.</h1>
                    </div>
                    <br>
                    <p style="color: #313131;"><strong>I will refund your money,</strong> <strong
                            style="color: #EA4F16">no questions asked,</strong> if:</p>
                    <ul class="guarantee-content__list">
                        <li>The paper you get does not meet the expected needs and the instructions as per the rubric
                            and the assignment instructions you requested.</li>
                        <li>The paper is not delivered within the time you requested. .</li>
                        <li>The paper is not well formatted and structured according to appropriate writing styles (APA,
                            MLA, HAVARD, CHICAGO, TURBIAN, etc.).</li>
                        <li>The paper does not meet your satisfaction as per the instructions you gave.</li>
                        <li>The paper receives a poor grading from the instructor.</li>
                    </ul>
                    <p style="color: #313131;"><strong>My guarantee will not cover you if:</strong></p>
                    <ul class="guarantee-content__list">
                        <li>You plan to cheat and get money back after I have done your paper. Fair man’s pay for fair
                            work done.</li>
                        <li>You have no evidence to support the claims of a poor written paper. For example, the score
                            from the professor/teacher.</li>
                        <li>The failure of the paper is contributed directly from your part and not mine (for example,
                            you did not provide all the necessary instructions and thus you get a poor grade.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>