<link rel="stylesheet" href="css/index.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="index-header">
        <div class="index-header__text">
            <h1>Hello, I'm Jerry the writer</h1>
            <h3>
                <span class="highlight">School life is overwhelming</span> for most people. I created this site to help
                <span class="highlight">students who struggle</span> to manage
                their school life.
            </h3>

            <h2>I help specifically:</h2>
            <ul class="header-list">
                <li>
                    <h3>Masters Students</h3>
                </li>
                <li>
                    <h3>University Students</h3>
                </li>
                <li>
                    <h3>College Students</h3>
                </li>
            </ul>
            <button class="btn btn-happy">Learn more</button>
            <button class="btn btn-mini-happy">About Me</button>
        </div>
    </div>
    </header>
    <main>
        <div class="stats">
            <div class="stats-container">
                <div class="stats-title">
                    <h1>Admit It <span class="highlight">school life is hard</span></h1>
                </div>
                <div class="stats-container__items">
                    <div class="stats-container__item">
                        <h2>61%</h2>
                        <big>The percentage of college students seeking counseling who report anxiety”</big>
                        <p>American psychological association, 2017</p>
                    </div>
                    <div class="stats-container__item">
                        <h2>53%</h2>
                        <big>of students report feeling so stressed, they couldn’t get their work done in one or more
                            occasions”</big>
                        <p>Jed Foundation, 2009</p>
                    </div>
                    <div class="stats-container__item">
                        <h2>1/5</h2>
                        <big>college students consider committing suicide in the US”</big>
                        <p>Health Day News, 2018.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="problem">
            <div class="problem-container">
                <div class="problem-title">
                    <div class="problem-fist__title">
                        <h1>The Problem?</h1>
                    </div>
                    <div class="problem-sub__title">
                        <big>You must have found yourself fitting in the statistics above because you say something
                            like:</big>
                    </div>
                </div>
                <div class="problem-text">
                    <div class="problem-list">
                        <h3><span class="highlight">I can’t even start to describe how much would go wrong if I got
                                <span class="highlight-brush">poor
                                    GPA!</span></span></h3>
                        <ul class="problem-list__items">
                            <li class="problem-list__item">
                                Imagine losing all that money you
                                paid for tuition
                            </li>
                            <li class="problem-list__item">
                                The embarrassment of failing and
                                not graduating (especially if
                                you’re an international student who’s travelled the whole way),
                            </li>
                            <li class="problem-list__item">
                                Your hopes of getting a job get
                                crushed.
                            </li>
                            <li class="problem-list__item">
                                You could jeopardize your financial
                                aid if you’re on scholarship.
                            </li>
                            <li class="problem-list__item">
                                Your dream to apply for scholarship
                                disappears right before your
                                eyes, you lose your chance to further your studies.
                            </li>
                        </ul>
                    </div>
                    <div class="problem-list">
                        <h3><span class="highlight">I didn’t know that <span class="highlight-brush">writing
                                    assignments</span> would be this hectic!</span>
                        </h3>
                        <ul class="problem-list__items">
                            <li class="problem-list__item">
                                Especially the research part.
                                Reading so much irrelevant
                                material, in the hope of finding a piece of useful information.
                                Assignments also come in all sizes and all topics, and complexities with limited
                                timeframes.
                                How do you beat such deadlines?
                            </li>
                            <li class="problem-list__item">
                                The perfectionist professor, who
                                looks for the tiniest mistake!
                            </li>
                            <li class="problem-list__item">
                                Your hopes of getting a job get
                                crushed.
                            </li>
                            <li class="problem-list__item">
                                You could jeopardize your financial
                                aid if you’re on scholarship.
                            </li>
                            <li class="problem-list__item">
                                Your dream to apply for scholarship
                                disappears right before your
                                eyes, you lose your chance to further your studies.
                            </li>
                        </ul>
                    </div>
                    <div class="problem-list">
                        <h3><span class="highlight">Balancing school and life is <span class="highlight-brush">not
                                    easy</span> at all!</span>
                        </h3>
                        <ul class="problem-list__items">
                            <li class="problem-list__item">
                                “I work several jobs to manage the expensive university life. I’m always running up and
                                down switching between lectures, running to work, and then the day is over. Before I
                                know it, a term paper is staring at me in the eyes, with a very short deadline.”
                            </li>
                            <li class="problem-list__item">
                                “I never imagined myself spending countless hours in the library, several times every
                                week to complete an assignment, besides, even finding the time to complete assignments
                                is hard!”
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>That’s Why I Created This Site</h1>
                    </div>
                    <div class="justify-center__sub-title">
                        <big>I know the frustrations of being a student</big>
                    </div>
                </div>
                <ul class="justify-list__items">
                    <li>Spending countless hours in the library researching: for that dreaded assignment.</li>
                    <li>Staying up all night: To complete that paper you have been procrastinating on the whole time.
                    </li>
                    <li>Overwhelmed: By the school life expenses, the unending list of assignments, balancing time with
                        family, life and a peace of mind.</li>
                    <li>Pressured and anxious: About the grades the paper will get, the GPA score, the quality of
                        information written, avoiding plagiarism, proper formatting, generally, Performance Anxiety. Not
                        sure about how life will turn out.</li>
                    <li>Frustrated:That you never have time for yourself, because school life eats into your weekends
                        and free time, since you need to finish that paper!</li>
                    <li>Weighed down: Because you appear to be on an endless race which never ends; 2 side jobs, endless
                        assignments, no time for family, no time for Netflix and entertainment anymore, and worst? all
                        this doesn’t seem to end anytime soon. It’s a vicious cycle, you cry!</li>
                </ul>
            </div>
        </div>

        <div class="justify-center">
            <div class="justify-center__container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>And I’m here to help you <span class="highlight">make it easier!</span></h1>
                    </div>
                    <div class="justify-center__sub-title">
                        <big>After doing extensive research on students, I realized that most students who struggle will
                            say something like;
                        </big>
                    </div>
                </div>
                <div class="notepaper-wrapper">
                    <div class="notepaper">
                        <figure class="quote">
                            <blockquote class="curly-quotes" cite="https://www.youtube.com/watch?v=qYLrc9hy0t0">
                                English is my second language, and I am not able to write an assignment that will get me
                                a good grade. I will most likely get poor grades, leading to a poor GPA score.
                            </blockquote>
                        </figure>
                    </div>
                    <div class="notepaper">
                        <figure class="quote">
                            <blockquote class="curly-quotes" cite="https://www.youtube.com/watch?v=qYLrc9hy0t0">
                                I am a native speaker of English, but I don’t know how to write good papers. I need help
                                from someone experienced. If I write one, it will probably get poor grades.
                            </blockquote>
                        </figure>
                    </div>
                    <div class="notepaper">
                        <figure class="quote">
                            <blockquote class="curly-quotes" cite="https://www.youtube.com/watch?v=qYLrc9hy0t0">
                                I can write an assignment well; I just don’t have time. I am too busy working different
                                jobs, trying to finance the expensive school life, taking care of my family (if you’re
                                married and have kids), and finding time to write assignments is becoming hectic, I’d
                                rather someone help me.
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="more">
            <div class="more-container">
                <div class="more-title-container">
                    <div class="more-title">
                        <big>More from me</big>
                    </div>
                    <div class="more-main__title">
                        <h1>You’ll be happy you bumped onto this site because</h1>
                    </div>
                </div>
                <div class="index-card__container">
                    <div class="index-card">
                        <div class="img-container" id="img1"></div>
                        <h3>I created 2 guidebooks.</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam sint qui ad accusamus
                            blanditiis.</p>
                        <div class="more-link">
                            <a href="#" class="link">Get guidebooks</a>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="index-card">
                        <div class="img-container" id="img2"></div>
                        <h3>Who am I?</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam sint qui ad accusamus
                            blanditiis.</p>
                        <div class="more-link">
                            <a href="#" class="link">More about me</a>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="index-card">
                        <div class="img-container" id="img3"></div>
                        <h3>Get personalized help.</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam sint qui ad accusamus
                            blanditiis.</p>
                        <div class="more-link">
                            <a href="#" class="link">Write my paper</a>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>