<link rel="stylesheet" href="/fonts/style.css">
<link rel="stylesheet" href="/css/sales.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <div class="sales-nav">
        <div class="sales-nav__container">
            <img src="/images/lorem-lorem.svg" alt="">
            <div class="sales-nav__buttons">
                <!-- <button id="learnMore">Learn More</button> -->
                <a href="/paper"><button>Ready to buy</button></a>
            </div>
        </div>
    </div>
    <div class="sales-container main">
        <div class="sales2-title" id="sales2">
            <h1 class="green-highlight">The Student Assignment Platform</h1>
            <h3 class="green-highlight">By Jerry The Writer</h3>
        </div>
        <br>
        <div class="sales2-content__title">
            <h3> The only school program that makes your school life easier by providing; <span
                    class="green-highlight">quality</span>, <span class="green-highlight">original</span> (written
                from scratch) <span class="green-highlight">plagiarism free</span> assignments which; Give you a <span
                    class="green-highlight">great GPA score/improves your GPA</span>, keeps all
                your information completely <span class="green-highlight">private</span>, puts you on top of school life
                and what’s best? Is very <span class="green-highlight">affordable!</span>
            </h3>
        </div>
        <div class="sales-content__container long-content">
            <div class="special-sales2__container sales__list-container">
                <h2 class="center">Jerry the Writer advantage.</h2>
                <div class="sales-list__container">
                    <ul class="sales3-list">
                        <li>
                            <strong>Good grades or have your money back:</strong> Seriously! From the time we start
                            writing your
                            assignments if your GPA score
                        </li>
                        <li>
                            <strong>Very affordable prices:</strong> Charging up to a third of what the current market
                            charges, with free
                            outline, structure, Plagiarism, and grammar report as well as unlimited revisions
                            <strong>for free!</strong>
                        </li>
                        <li>
                            <strong>Qualified writers:</strong> With years of experience in the specific area of
                            qualification,
                            specialized to handle up to xyz types of assignments and xyz subjects.
                        </li>
                    </ul>
                </div>
            </div>
            <p>When it comes to school assignments, we know what every professor/teacher/instructor does once you
                hand in an assignment:</p>
            <div class="special-sales__container sales__list-container">
                <div class="sales-list__container">
                    <ul class="sales2-list">
                        <li>
                            First, they run it through a <strong class="green-highlight">plagiarism detection</strong>
                            software (Turnitin) to check for
                            plagiarism.
                        </li>
                        <li>
                            Next, they go through the paper to analyze its relevance to the question and instructions,
                            and if the paper has <strong class="green-highlight">met the requirements.</strong>
                        </li>
                        <li>
                            Then they check for issues like, <strong class="green-highlight">formatting, sentence
                                construction, grammar and writing
                                styles</strong> (APA, MLA, Harvard, etc.), citations and references, and the general
                            order of the
                            paper.
                        </li>
                        <li>
                            Lastly, they follow the <strong class="green-highlight">grading rubric</strong> provided to
                            <strong class="green-highlight">grade your assignment</strong>.
                        </li>
                    </ul>
                </div>
            </div>
            <p>That’s why our team is able to promise you good grades because; </p>
            <div class="special-sales__container sales__list-container">
                <div class="sales-list__container">
                    <ul class="sales2-list">
                        <li>
                            We write your paper from scratch, with <span class="green-highlight">originality</span>
                            being the goal.
                        </li>
                        <li>
                            Before handing in your paper, we run it through <strong>Turnitin software</strong> and
                            <strong>grammar checker</strong>
                            <span class="green-highlight">ensure no plagiarism and grammatical errors</span>, and <span
                                class="green-highlight">we attach the reports</span> for you to validate.
                        </li>
                        <li>
                            We set up a comprehensive process to ask for all the details, instructions, explanations,
                            including the rubrics and support documents so that we capture all the essentials to <span
                                class="green-highlight">make
                                your paper an A-grade assignment.</span>
                        </li>
                        <li>
                            Every paper will be <span class="green-highlight">crosschecked for proper citations,
                                references, and formatting</span>, by a
                            special team of editors before it gets to you. The editors particularly check the sources
                            used for data collection, to ensure they are good and credible sources.
                        </li>
                        <li>
                            We offer <span class="green-highlight">unlimited revisions</span>if the paper dissatisfies
                            you, up to the point you are
                            contented that you have received your full value.
                        </li>
                    </ul>
                </div>
            </div>
            <p class="center"><strong>That’s why we can promise to deliver:</strong></p>
            <div class="sales-icon__content">
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-pentool"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Original, written from scratch, plagiarism free papers:
                    </h4>
                    <p>Assignments come with an outline, a free plagiarism report and a grammar free report. </p>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                                viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                <line fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" x1="12"
                                    y1="19" x2="12" y2="64" />
                                <line fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" x1="52"
                                    y1="0" x2="52" y2="45" />
                                <line fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" x1="32"
                                    y1="38" x2="32" y2="64" />
                                <line fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" x1="32"
                                    y1="0" x2="32" y2="26" />
                                <circle fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" cx="12"
                                    cy="13" r="6" />
                                <circle fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" cx="52"
                                    cy="51" r="6" />
                                <circle fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" cx="32"
                                    cy="32" r="6" />
                                <line fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" x1="12"
                                    y1="0" x2="12" y2="7" />
                                <line fill="none" stroke="#747474" stroke-width="6" stroke-miterlimit="10" x1="52"
                                    y1="57" x2="52" y2="64" />
                            </svg>
                        </span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Custom Papers:
                    </h4>
                    <p>Order them to your liking, and to your preference. Want us to use simple English? No problem.
                        Want us to use very quality English? Just say it.</p>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-lock"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Confidentiality:
                    </h4>
                    <ul class="sales3-list">
                        <li>Following our privacy policy, your information will never be released to any website, person
                            or program.
                        </li>
                        <li>Typically, your name and assignment instructions will be enough. Nothing to worry about.
                        </li>
                    </ul>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon">
                            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px"
                                viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                <rect x="1" y="24" fill="none" stroke="#747474" stroke-width="3" stroke-miterlimit="10"
                                    width="52" height="26" />
                                <polyline fill="none" stroke="#747474" stroke-width="3" stroke-miterlimit="10"
                                    points="11,22 11,14 63,14 63,40 55,40 " />
                                <path fill="none" stroke="#747474" stroke-width="3" stroke-miterlimit="10" d="M10,46c0-3-2-4-5-4V32c3,0,5-1,5-4h35c0,3,2,4,4,4
	                                v10c-2,0-4,1-4,4H10z" />
                                <circle fill="none" stroke="#747474" stroke-width="3" stroke-miterlimit="10" cx="27"
                                    cy="37" r="5" />
                            </svg>

                        </span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        100% Money back guarantee:
                    </h4>
                    <p>no questions asked! Simply provide proof of a poor grading, with appropriate criteria from the
                        instructor and you have your money back. </p>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-share"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Total ownership.
                    </h4>
                    <p>My privacy policy also states that once you receive a paper, it is regarded as your property and
                        not mine anymore.
                        You have complete authorship for it.</p>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-medal"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Quality papers:
                    </h4>
                    <p>Well formatted, well referenced with appropriate in-text citations and it will follow the
                        instructions and the RUBRIC to the letter. </p>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-present"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Minor changes and Revisions for FREE:
                    </h4>
                    <ul class="sales3-list">
                        <li>After you have received your paper, you can have me make as many minor changes for free.
                        </li>
                        <li>I also will do revisions for you, should they come up (very hard) for free.
                        </li>
                    </ul>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-stop"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        No hidden charges, no additional costs:
                    </h4>
                    <p>We will even determine the best writer and select them for your assignment, FOR FREE! Pay only
                        for the assignment, nothing else! </p>
                </div>
                <div class="sales-icon__item">
                    <div class="sales-icon__container">
                        <span class="icon icon-texttool"></span>
                    </div>
                    <h4 class="sales-icon__item-title">
                        Best tools for best essays:
                    </h4>
                    <ul class="sales3-list">
                        <li>
                            TURNITIN software for plagiarism.
                        </li>
                        <li>
                            Grammarly software for grammar checks.
                        </li>
                        <li>
                            The best citation and referencing tools.
                        </li>
                    </ul>
                </div>
            </div>
            <p class="center"><strong>With so many free features, including...</strong></p>
            <div class="sales-features">
                <h3 class="sales-features__title">With so many <strong>free features,</strong> including</h3>
                <ul class="sales-feautures__list">
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Free outlines</span>
                            <span> $4.99</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Unlimited revisions</span>
                            <span> $23.99</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Free title page</span>
                            <span> $4.99</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Free Bibliography</span>
                            <span>$12.99</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Free formatting</span>
                            <span> $7.99</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Free plagiarism report</span>
                            <span>$15.99</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>We allocate you a writer free</span>
                            <span> $9.98</span>
                        </div>
                    </li>
                    <li>
                        <div class="sales-feautures__list-item">
                            <span>Total you save</span>
                            <span> $80.92</span>
                        </div>
                    </li>
                </ul>
                <div class="sales-features__decoration">
                    <div class="sales-features__image">
                        <span class="icon icon-confirm"></span>
                    </div>
                </div>
            </div>
            <p class="center"><strong>Here are the subjects and assignments we tackle:</strong></p>
        </div>
        <div class="sales-subjects">
            <div class="sales-subjects__item">
                <span>
                    <ion-icon name="book-outline"></ion-icon>
                </span>
                <h4>Literature</h4>
            </div>
            <div class="sales-subjects__item">
                <span>
                    <ion-icon name="medical-outline"></ion-icon>
                </span>
                <h4>Nursing</h4>
            </div>
            <div class="sales-subjects__item">
                <span>
                    <ion-icon name="business-outline"></ion-icon>
                </span>
                <h4>Business</h4>
            </div>
            <div class="sales-subjects__item">
                <span>
                    <ion-icon name="body-outline"></ion-icon>
                </span>
                <h4>Psychology</h4>
            </div>
            <div class="sales-subjects__item">
                <span>
                    <ion-icon name="globe-outline"></ion-icon>
                </span>
                <h4>Sociaology</h4>
            </div>
            <div class="sales-subjects__item">
                <span>
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </span>
                <h4>Finance</h4>
            </div>
        </div>
        <div class="sales-content__container long-content">
            <div class="sales__list-container">
                <div class="sales-list__container assignments">
                    <ul class="sales2-list">
                        <li>Essays (any type).
                        </li>
                        <li>
                            Research paper writing.
                        </li>
                        <li>
                            Thesis writing.
                        </li>
                        <li>Movie/book reviews.
                        </li>
                        <li>
                            Dissertation writing.
                        </li>
                        <li>
                            Article writing
                        </li>
                        <li>
                            Book Reports.
                        </li>
                    </ul>
                    <ul class="sales2-list">
                        <li>
                            Case studies.
                        </li>
                        <li>
                            Creative writing.
                        </li>
                        <li>
                            Admission Essays.
                        </li>
                        <li>
                            Annotated bibliographies.
                        </li>
                        <li>
                            Literature reviews.
                        </li>
                        <li>
                            Distance learning courses.
                        </li>
                    </ul>
                </div>
            </div>
            <p class="center"><strong>How It works</strong></p>
            <div class="special-sales__container sales__list-container">
                <div class="sales-list__container">
                    <ul class="sales2-list">
                        <li><strong class="green-highlight">Ordering and Payment:</strong> Provide all the instructions
                            for the paper, with the deadline, get a
                            price quote and summary, then pay for the assignment, and a new account will be created. You
                            will then be directed a dashboard. We take over from here. Please make sure to put all
                            instructions, so you don’t need to add any more instructions.
                        </li>
                        <li>
                            <strong class="green-highlight">Service completion:</strong> Immediately we get your paper,
                            we assign a quality writer <strong>FOR FREE!</strong>
                            (essay writing services charge for this) to work on it. The writer reads the instructions,
                            develops an outline, researches, and writes a draft, fine tunes it and sends it to the
                            editors, for proof reading.
                        </li>
                        <li>
                            <strong class="green-highlight">From editor to you:</strong> The editors ensure the
                            assignment is quality approved, checking for
                            plagiarism, relevance of the assignment, citations, references, and grammar, at which point
                            the assignment is complete. It will be uploaded for you to download, with an email, with a
                            download link sent to you. You will also be notified on your dashboard, on the website.
                        </li>
                        <li><strong class="green-highlight">Delivery and Satisfaction guarantee:</strong> The assignment
                            will come attached with the assignment
                            outline (for originality, plagiarism report, and a grammar check report. Once you have
                            downloaded the assignment, check that it meets the requirements and that it is to your
                            satisfaction. If not, contact us and we will revise your assignment to your specific needs,
                            until you are fully satisfied.
                        </li>
                        <li>
                            <strong class="green-highlight">Moneyback guarantee:</strong> At jerry the Writer, I will
                            fully cover you with a 7-day money back
                            guarantee. That means that, if the paper performs poorly, I will refund your money, with no
                            questions asked. Just provide the proof for your grades and I will refund you.
                        </li>
                    </ul>
                </div>
            </div>
            <p class="center"><strong>What are the benefits?</strong></p>
            <div class="special-sales2__container sales__list-container">
                <div class="sales2-content__title">
                    <h3>You will be assured of a great GPA score.</h3>
                </div>
                <div class="sales-list__container">
                    <ul class="sales3-list">
                        <li>Your college tuition investment will be secure.
                        </li>
                        <li>
                            You will have a better chance to apply for and get a job.
                        </li>
                        <li>
                            You can easily get a scholarship.
                        </li>
                        <li>You have assurance to further your studies, should you choose to.
                        </li>
                        <li>
                            Getting a job while in campus is easier thanks to your great GPA score.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="special-sales2__container sales__list-container">
                <div class="sales2-content__title">
                    <h3>Save yourself all the frustrations of writing assignments.</h3>
                </div>
                <div class="sales-list__container">
                    <ul class="sales3-list">
                        <li>No more performance anxiety:
                        </li>
                        <li>
                            <strong>Break emotional burdens of writing assignments:</strong>
                        </li>
                        <li>
                            <strong>Eliminate your struggles:</strong>The long research process, no more fear of
                            plagiarism and reading countless material to find the one gem that you can write about.
                        </li>
                        <li>Forget spending countless hours in the library/behind a computer.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="special-sales2__container sales__list-container">
                <div class="sales2-content__title">
                    <h3>Have time to do what you’ve always wanted to.</h3>
                </div>
                <div class="sales-list__container">
                    <ul class="sales3-list">
                        <li>More time to focus on more important activities. Want to get an extra job? No problem.
                        </li>
                        <li>
                            Spend more time with the people you love, and the stress of balancing school and life is
                            removed from your life.
                        </li>
                        <li>Have time to enjoy life, catch up with yourself, family and fall in love with being alive.
                        </li>
                    </ul>
                </div>
            </div>
            <p>No more need for procrastination, only to get a poor grade because you hurried it through</p>
            <div class="sales-image">
                <img src="/images/pic1.png" alt="">
            </div>
            <p>All these benefits for a meagre…</p>
            <p class="center">
                <a href="/paper"><button class="btn btn-happy">Ready to buy</button></a>
            </p>
        </div>
        <div class="sales-title">
            <h1 class="purple-highlight">Is Jerry the Writer right for you?</h1>
        </div>
        <div class="justify">
            <div class="justify-container testimonials">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>Here's what some of my clients have to say</h1>
                    </div>
                    <%- include('../includes/testimonials.ejs')%>
                </div>
            </div>
        </div>
        <br>
        <h2 class="center"><a href="/samples" class="purple-highlight">Check out my samples</a></h2>
        <br>
        <div class="sales-content__container long-content">
            <div class="sales-faq">
                <div class="sales-title">
                    <h1 class="purple-highlight">FAQ and objections.</h1>
                </div>
                <div class="sales-faq__container">
                    <div class="sales-faq__item away">
                        <p>What do you do to prevent problems from coming up? And which problems in this case?</p>
                    </div>
                    <div class="sales-faq__item home">
                        <ul>
                            <li><strong>Plagiarism</strong>: I use a plagiarism checker software, (Turnitin- used by
                                educational
                                institutions) and attach the plagiarism report with your assignment. </li>
                            <li>
                                <strong>For grammar</strong>, I use Grammarly, a grammar checking software to crosscheck
                                grammar. Every paper
                                will be well formatted according to instructions, and, you will get the outline for the
                                paper, to show the paper was written from scratch with complete
                                <strong>originality.</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="sales-faq__item away">
                        <p>Despite all these promises and your credentials, what if, just what if, things go wrong? How
                            bad can they get? </p>
                    </div>
                    <div class="sales-faq__item home">
                        <p>Let me make a few things clear that will never happen; <strong>Plagiarism</strong>,
                            <strong>papers not written from
                                scratch</strong> and <strong>poor grammar</strong> in your paper will never happen. I
                            guarantee. Sometimes however,
                            some problems that are uncontrollable can come up. The common cases that affect would be
                            time for the paper and there could be a revision, due to a slight mistake. Sometimes also
                            students don’t give full instructions for the paper, and thus the points are not addressed.
                            Make sure you provide everything.</p>
                    </div>
                    <div class="sales-faq__item away">
                        <p>How would you fix problems which have already come up?</p>
                    </div>
                    <div class="sales-faq__item home">
                        <p>There’s almost no case we cannot fix, since they are not major cases for which an explanation
                            to the professor is impossible. However, some cases, just as the professor/instructor know
                            could not be avoided. I will work with you, for FREE to deal with such issues, until they
                            are resolved completely. I will draft letters on your behalf to your instructor and do
                            anything to fix them. The paper may thus be delayed just a while, for which I will notify
                            you in advance. Try sending me your paper as early as possible, just to prevent such cases.
                            In case your paper needs a revision, after the professor grades it, I will do it for FREE,
                            provided you have the paper grading from the professor. </p>
                        <br>
                        <p>Though this is not necessary, because I trust my quality, I will still give you a money-back
                            full refund, if your paper gets a poor grade. </p>
                    </div>
                    <div class="sales-faq__item away">
                        <p>Are there any charges and costs aside from the work payment? </p>
                    </div>
                    <div class="sales-faq__item home">
                        <p>None. Pointblank! You pay only for the work, and that’s it.</p>
                    </div>
                    <div class="sales-faq__item away">
                        <p>What means of payment do you accept cash?</p>
                    </div>
                    <div class="sales-faq__item home">
                        <p>I might make any updates, but as of now, I am taking payment from VISA.</p>
                    </div>
                    <div class="sales-faq__item away">
                        <p>Can I get my money back? Is there a money guarantee?</p>
                    </div>
                    <div class="sales-faq__item home">
                        <p>Absolutely, with no questions asked. Provided you follow the terms in the <a href="guarantee"
                                class="purple-highlight">Money back guarantee policy</a>.</p>
                    </div>
                    <div class="sales-faq__item away">
                        <p>What means of payment do you accept cash?</p>
                    </div>
                    <div class="sales-faq__item home">
                        <p>I might make any updates, but as of now, I am taking payment from VISA.</p>
                    </div>
                </div>
            </div>
            <p class="center"><a href="/faq" class="purple-highlight">Get more FAQS</a></p>
            <br><br>
            <div class="sales-content__title">
                <h1 class="purple-highlight">Decide today</h1>
            </div>
            <p>You’re in this for a couple of years- why not make the best of memories about life, rather than live
                a stressed and unfulfilled life all along.</p>
            <br>
            <p>You are directly responsible to make your life easier, more fulfilling and liberating than it is now. Why
                not do it?</p>
            <br>
            <p>Imagine how much more time, energy and freedom it would be if you escaped all the hassle of completing
                those college assignments.</p>
            <br>
            <p>Why not, from today henceforth, choose to value your peace and satisfaction, freedom, health and
                well-being over things which won’t matter years from now?</p>
            <br>
            <p>Plus, I cover you with a money back guarantee!! No risk on your part. Quality grades or your money
                refunded. </p>
        </div>
        <%- include('../includes/footer.ejs')%>
        <script src="js/testimonials.js"></script>
        <script src="js/sales.js"></script>
        <script src="https://unpkg.com/css-doodle@0.8.5/css-doodle.min.js"></script>
        <%- include('../includes/end.ejs')%>