<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/terms.css">
</head>

<body>
    <div class="terms-container">
        <div class="terms-container__header">
            <div class="terms-container__text">
                <h1>JTW terms of service</h1>
            </div>
        </div>
        <div class="long-content">
            <p>Welcome to Jerry the Writer!</p>
            <br>
            <p>These terms and conditions outline the rules and regulations for the use of Jerry the Writer's Website,
                located at
                <span>
                    <a href="https://www.jerrythewriter.com" target="_blank" class="highlight">
                        www.jerrythewriter.com
                    </a>
                </span>
            </p>
            <br>
            <p>By accessing this website, I assume you accept these terms and conditions. </p>
            <br>
            <p>Do not continue to use Jerry the Writer if you do not agree to take all of the terms and conditions
                stated on this page, as I will not be liable outside any damage caused by the breach of these
                principles/laws.
            </p>
            <div class="terms-container__sub-title">
                <h1>Definitions</h1>
            </div>
            <ul class="policy-content__list">
                <li><strong style="color: #EA4F16;">“Website”</strong> means an aggregate amount of the web pages
                    available at jerrythewriter.com and all
                    sub-domains
                    thereof, where the Services are realized.
                </li>
                <li><strong style="color: #EA4F16;">“Services”</strong> refers to various types of written tasks,
                    including essays, research papers,
                    dissertations
                    and other written academic works that may be requested by the Client.
                </li>
                <li>
                    <strong style="color: #EA4F16;">“Terms & Conditions”, “Terms”, "Terms of Service"</strong>,
                    or<strong style="color: #EA4F16;"> “T&C”</strong> terms of use also include: Privacy Policy, Money
                    Back
                    Guarantee.
                </li>
                <li>
                    <strong style="color: #EA4F16;">“Me,” </strong> or <strong style="color: #EA4F16;">“Mine”
                    </strong>means Jerry the writer.
                </li>
                <li><strong style="color: #EA4F16">“User”</strong>, <strong style="color: #EA4F16">“You”</strong>,
                    <strong style="color: #EA4F16">“Client”</strong> means a natural person, individual entrepreneur or
                    a legal entity that is
                    registered on the Website as the user and has accepted these Terms and anyone submitting, bidding,
                    executing an order, uploading any information and transferring payments on this Website;
                </li>
                <li><strong style="color: #EA4F16">“Order”</strong> is an electronic request for a paid Service from the
                    Client for a particular writing
                    Service.
                    Order specifies the scope of work and other requirements of the Client regarding the product. Order
                    refers to the written order that was submitted in electronic form online on our Website by the
                    Client.
                    An Order includes the work in its entirety along with its consumer requirements.
                </li>
                <li><strong style="color: #EA4F16">“Product”</strong> is the result of an Order, which comes as original
                    content, written and delivered to the
                    Client in accordance to his or her inquiry as a digital document.
                </li>
                <li><strong style="color: #EA4F16">“Client`s information”</strong> means the file containing text
                    information represented in any format that is
                    accepted by the Website that has been submitted by You for the reference or as an example. I reserve
                    the
                    right to determine the requirements regarding the size and the format of the files with the Client`s
                    information You may download in Order form.
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Order placing</h1>
            </div>
            <ul class="policy-content__list">
                <li>While registering with the Website, please use a valid email address where you can be reached. I may
                    be required to contact you. Providing incorrect email address is a violation of these terms and
                    conditions.
                </li>
                <li>I do not collect any fee for placing orders. I will simply evaluate the orders placed and
                    communicate further with you.
                </li>
                <li>
                    <strong style="color: #EA4F16;">Communicating.</strong> I will be communicating to you, which can be
                    reached in your email address. My support team uses email system for communication with you. Please
                    check the emails regularly, and promptly address any questions, concerns or additional instructions
                    using this interactive feature.
                </li>
                <li>
                    <strong style="color: #EA4F16;">Tracking the job order status </strong>When you place an order, I
                    will keep you posted so you can see how much the paper is doing, and how far to the required
                    delivery date. This is exceptional in very few cases, which I will notify to you directly, for
                    example, if your paper has such a short deadline.
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Order Payment</h1>
            </div>
            <ul class="policy-content__list">
                <li>Placing an Order on the Website for any job/project is free. However, you must fund the project
                    after you give all the instructions of the paper to me. I will only start working on orders which
                    have been paid in full and proof of receipt or thereof provided, after which, if anything goes wrong
                    with the paper, and you require your money back, following my <strong><a href="/gurantee"
                            style="color: #EA4F16;">money back
                            guarantee policy</a></strong>, I will
                    refund you.
                </li>
                <li>
                    You are responsible for paying any taxes, including any services or value added taxes, which may be
                    applicable depending on the jurisdiction of the Services provided.
                </li>
                <li>
                    Depending on your residency or location, you may be subject to certain ad valorem or other taxes, on
                    certain fees that I charge. These taxes will be added to fees billed to you, if applicable.
                </li>
                <li>
                    You acknowledge that you must comply with your obligations under income tax provisions in your
                    jurisdiction.
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Order Delivery</h1>
            </div>
            <ul class="policy-content__list">
                <li>
                    <strong style="color: #EA4F16;">Order volume.</strong>
                    Each Order you place has a required volume, that is measured by the number of pages. One-page equals
                    to 275 words. Upon the Product delivery the document received has to match the expected number of
                    pages metric. Should there be a page/number of words mismatch, you may request to reformat the paper
                    to match the number of words/pages.
                </li>
                <li>
                    <strong style="color: #EA4F16;"> Changes of Order details.</strong>
                    You may provide changes to the scope of work only if the I have not started the work yet. No
                    changes can be made once the I have started researching and working on the Order. Should the Order
                    details increase in volume, order complexity or narrow the completion terms, I will ask to cancel
                    the current Order and place a new one with correct requirements, and charge a reasonable fee, in
                    case I had gone further into the paper.
                </li>
                <li>
                    <strong style="color: #EA4F16;">Resources.</strong>
                    For me to write your papers in the best way, I need you to provide me all the details, instructions,
                    and information necessary. Should you require specific resource material to be utilized in the order
                    process, you must specify those resources and/or provide them to me. Provide me with detailed
                    instructions, rubric and specifications you need. I have made this process easier, and I will ensure
                    you capture all the information once you are placing an order.
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Order Revision</h1>
            </div>
            <ul class="policy-content__list">
                <li>The Client has the right to request revisions as long as they are in line with the instructions you
                    set off. Beyond the instructions, and just a few minor changes, I will not make any more revisions.
                </li>
                <li>
                    Please note that I reserve the right to decline or limit multiple revision requests if the Client’s
                    behavior demonstrates obvious exploitation of the me and other unreasonable requests.
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Refund policy</h1>
            </div>
            <ul class="policy-content__list">
                <li>I am responsible for delivering the Product in a timely manner and according to the Client
                    requirements indicated in the Order. Should any of the Client’s commitments be violated, the Client
                    is entitled to a partial or a full reimbursement according to my <strong><a href="/gurantee"
                            style="color: #EA4F16;">money back
                            guarantee</a></strong>
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>The Use of the Products</h1>
            </div>
            <ul class="policy-content__list">
                <li>When making a payment for an Order, You agree it is for personal and non-commercial use only and the
                    payment You make is a reflection of the time and effort put into conducting relevant research and
                    writing pertaining to your Order as well as all the necessary maintenance and administration for
                    Product delivery.
                </li>
                <li> You are not allowed to reproduce, modify, distribute or display the Product in any way on the
                    Internet or in the form of a hard copy over a reasonable limit necessary for personal use.
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Personal Data and payment information: use and security</h1>
            </div>
            <ul class="policy-content__list">
                <li>For details of how I collect, use, and store your Personal Data, including your personal data and
                    payment details, please see our<strong><a href="/policy" style="color: #EA4F16;"> Privacy
                            Policy.</a></strong>
                </li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Use of the Website, termination and suspension of use.</h1>
            </div>
            <ul class="policy-content__list">
                <li>You must not use any part of the Website for any illegal purpose. In particular, you may not use the
                    Website for any of the following purposes:
                </li>
                <ul class="policy-content__list next">
                    <li>
                        disseminating any unlawful, harassing, defamatory, abusive, threatening, harmful, obscene, or
                        otherwise objectionable material or otherwise breaching any laws;
                    </li>
                    <li>
                        transmitting material that encourages conduct that constitutes a criminal offense, or otherwise
                        breaches any applicable laws, regulations or code(s) of practice;
                    </li>
                    <li>
                        interfering with any other person’s use of the Website; or
                    </li>
                    <li>
                        making, transmitting or storing electronic copies of materials protected by copyright without
                        the permission of the owner.
                    </li>
                </ul>
                <li>If You breach any of the provisions of these Terms, you will be responsible for any losses and costs
                    resulting from your breach.</li>
                <li> I may terminate your use of the Website if you breach any of these Terms.</li>
                <li>If I reasonably suspect your use of the Website is affecting the lawful operation of the Website or
                    may adversely affect other Client, I may suspend your access to the Website at any time while I
                    investigate the position.</li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Disclaimer and Limitation of liability</h1>
            </div>
            <ul class="policy-content__list">
                <li>The Website is provided “as is” and I do not guarantee that the Website will meet expectations or
                    requirements outside my value proposition. If Your computer equipment does not support relevant
                    technology, including encryption, you may not be able to access the Website and/or use some or all
                    of
                    the Services.
                </li>
                <li>
                    The Website is accessed via the World Wide Web, which is independent of me. Your use of the World
                    Wide
                    Web is solely at Your own risk and subject to all applicable national and international laws and
                    regulations. I do not represent that the Website is appropriate or available for use in any
                    jurisdiction.
                </li>
                <li>
                    The Website may contain hyperlinks to websites and resources owned by third parties. These
                    third-party
                    websites and resources may have their own terms of use and privacy policies and you should review
                    them.
                    I do not accept any responsibility or liability for any third-party websites and resources and Your
                    access and use of such services and content is at Your own risk. Before supplying any personal
                    information to any other website, I recommend that you check that website`s policies.
                </li>
                <li>
                    In no event will I be liable for any loss or damage arising as a result of any modifications I may
                    make
                    to the Website.
                </li>
                <li>
                    I will not have any liability to You or any other person, whether arising out of or in connection
                    with
                    the Products and/or Services including but not limited to;
                    phone, electronic, hardware or software, network, Internet, email, or computer malfunctions,
                    failures or
                    difficulties of any kind;
                    failed, incomplete, garbled or delayed computer and/or email transmissions;
                    any condition caused by events beyond the control of the company that might cause the Product and/or
                    Services to be (as applicable) delayed, disrupted, or corrupted;
                    any injuries, losses or damages of any kind arising in connection with, or as a result of, utilizing
                    the
                    Services; or
                    any printing or typographical errors in any Product(s).
                </li>
                <li> I will not have any liability to You or any other person, whether arising out of or in connection
                    with
                    your use of the Website, or Your inability to use the Website, or for any other reason including,
                    without limitation, for: any matters due to any events outside our reasonable control; or any
                    unforeseeable losses or damages.</li>
                <li>Nothing contained in these Terms is intended to limit or exclude any liability for death or personal
                    injury arising from negligence, or for fraudulent misrepresentation, or any other liability which
                    may
                    not be limited or excluded by law or intended to affect Your statutory rights as a consumer.</li>
            </ul>

            <div class="terms-container__sub-title">
                <h1>Disclaimer and Limitation of liability</h1>
            </div>
            <ul class="policy-content__list">
                <p><strong>Cookies</strong></p>
                <p><span style="color: #EA4F16">
                        I employ the use of cookies.
                    </span>By accessing Jerry the Writer, you agreed to use cookies in agreement with
                    the Jerry the Writer's Privacy Policy.
                    <br>
                    <br>
                    Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies
                    are
                    used by my website to enable the functionality of certain areas to make it easier for people
                    visiting
                    our website. Some of our affiliate/advertising partners may also use cookies.
                </p>
            </ul>
            <div class="terms-container__sub-title">
                <h1 style="color: #EA4F16;">This Agreement shall begin on the date 22nd October 2020.</h1>
            </div>
            <ul class="policy-content__list">
                <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in
                    certain areas of the website. Jerry the Writer does not filter, edit, publish or review Comments
                    prior to their presence on the website. Comments do not reflect the views and opinions of Jerry the
                    Writer, its agents and/or affiliates. Comments reflect the views and opinions of the person who post
                    their views and opinions. To the extent permitted by applicable laws, Jerry the Writer shall not be
                    liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result
                    of any use of and/or posting of and/or appearance of the Comments on this website.
                </p>
                <p>Jerry the Writer reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                <br>
                <br>
                <p><strong>You warrant and represent that:</strong></p>
                <li>    You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                <li>   The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                <li> The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                <li>You hereby grant Jerry the Writer a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</li>
            </ul>
        </div>
    </div>

    </div>
    <%- include('../includes/end.ejs')%>